.menu__list__item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.menu__list__item__contato{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.menu__item__contato{
    display: none;
    color: red;
}
@media (max-width: 768px) {
    .menu__item__contato{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 20px 0;
        gap: 32px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #464646;
    }
    .menu__list__item__contato{
        display: none;
    }
    .menu__list__item{
        display: none;
    }
} 