.title__subsection{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
@media (max-width: 768px) {
    .title__subsection{
        font-size: 16px;
        line-height: 19px;
    }
}