.title__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}
@media (max-width: 768px) {
    .title__container{
        gap: 8px;
    }
}